* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilty */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb7b7;
}

.container {
  height: 80vh;
  width: 50%;
  background-color: #ffff;
  padding: 5rem;
}

.effectForm__form {
  display: flex;
  flex-direction: column;
}

.effectForm__input {
  height: 50px;
  width: 100%;
  padding: 2rem;
}

.effectForm__submit {
  height: 50px;
  width: 100%;
  color: #161b16;
  background: #89b1d4;
  cursor: pointer;
}

.effectForm__loading {
  font-weight: bold;
  color: rgb(131, 131, 231);
}

.effectForm__error {
  font-weight: bold;
  color: rgb(219, 20, 37);
}
